[flake8]
count = true
extend-exclude = .mypy_cache
# black
max-line-length = 88
extend-ignore = E203, D
# bugbear
# extend-immutable-calls = Path
# docstrings
docstring-convention = google
# darglint
strictness=short
docstring_style = google
